name: Release
on:
  push:
    tags: ['v*.*.*']
permissions:
  contents: read
jobs:
  publish-kwok-image:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod

    - name: Set up ko
      uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

    - name: Log in to the Container registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: "${{ secrets.GITHUB_TOKEN }}"

    - name: Set VERSION to env
      run: |
        VERSION="${GITHUB_REF_NAME#v}"
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"

    - name: Publish KWOK image
      run: |
        KO_DOCKER_REPO="ghcr.io/${{ github.repository }}/karpenter-kwok" ko publish ./kwok --bare -t "$VERSION"

  publish-kwok-chart:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

    - name: Log in to the Container registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: https://ghcr.io
        username: ${{ github.actor }}
        password: "${{ secrets.GITHUB_TOKEN }}"

    - name: Set VERSION to env
      run: |
        VERSION="${GITHUB_REF_NAME#v}"
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"

    - name: Package and push KWOK chart
      id: pkg
      run: |
        set -euo pipefail
        SRC="${{ github.workspace }}/kwok/charts"
        
        if [[ -f "${{ github.workspace }}/kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml" && -L "${{ github.workspace }}/kwok/charts/crds/karpenter.kwok.sh_kwoknodeclasses.yaml" ]]; then
          echo "replacing karpenter.kwok.sh_kwoknodeclasses.yaml CRD symlink with the real file"
          rm -f "$SRC/crds/karpenter.kwok.sh_kwoknodeclasses.yaml"
          cp "${{ github.workspace }}/kwok/apis/crds/karpenter.kwok.sh_kwoknodeclasses.yaml" "$SRC/crds/karpenter.kwok.sh_kwoknodeclasses.yaml"
        fi
        
        cd $SRC
        helm package . --version "$VERSION"
        helm push "karpenter-kwok-$VERSION.tgz" "oci://ghcr.io/${{ github.repository }}/charts"
